div.box{
    border:5px solid pink;
    width:200px;
    height:200px;
    padding: 20px;
    margin: 20px;
    border-radius: 50%;
    background-color: plum;
    background-image: url("https://tse3.mm.bing.net/th/id/OIP.kyzgrQi0UYHB03sVTkpTZgHaEK?pid=Api&P=0&h=220");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /*position: relative;*/
    position: fixed;
    bottom:0px;
    right:0px;

}
div.box1{
    background-image: url("https://tse3.mm.bing.net/th/id/OIP.kyzgrQi0UYHB03sVTkpTZgHaEK?pid=Api&P=0&h=220");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width:100%;
    height:700px;
    background-position: top center;

}
#p{
    top:170px;
    left:85px;
    position: absolute;

}
/*#menu{*/
/*    width:20%;*/
/*    height:500px;*/
/*    position: fixed;*/
/*    background: plum;*/
/*    float:left;*/
/*}*/
#head{
    width:70%;
    height:500px;
    background: plum;
    /*float:left;*/
}
#sidebar{
    width:30%;
    height: 500px;
    background: aqua;
    /*float:right;*/
}
#foot{
    width:100%;
    height: 100px;
    background: bisque;
    /*clear: both;*/
}
.container{
    display: flex;
    justify-content: space-between;
}
