#menu li{
     list-style: none;
    /*border:1px solid;*/
    width:100px;
    height:30px;
    position: relative;
    /*background-color: black;*/
    line-height: 30px;
    text-align: center;
    float:left;
}
a{
    text-decoration: none;
    color:white;
}
#menu li:hover{
    background-color: red;
}
#menu ul{
    width: 100%;
    margin: 0;
    padding: 0;
    /*background-color: black;*/


}
#menu ul ul{
    position: absolute;
    top:30px;
    right:0px;
    visibility: hidden;
}
#menu ul li:hover ul{
    visibility: visible;
}
#menu li{
    /*background-color: black;*/
}
#menu{
    height: 30px;
    padding:0;
    margin:0;
    background-color: #000000;
    border: 1px solid #CDCDCD;
}

