.header{
    border:1px double black;
    width:100%;
    height:50px;

}
.nav{
    border:1px double black;
    width:100%;
    height:50px;
}
.container{
    width:30%;
    height:500px;
    display: flex;
    flex-direction: column;
}
.section{
    border:1px double black;
    height:50%;
    width:100%;
}
.artcle{
    border:1px double black;
    width:100%;
    height:50%;
}
.main{
    display: flex;
}
.aside{
    border:1px double black;
    width:70%;
    height:500px;
}
.footer{
    border:1px double black;
    width:100%;
    height:50px;
}
p{
    text-align: center;
    font-weight: bold;
}