#menu {
    background-color: black;
    /*border:1px solid black;*/
    height: 50px;

}
a{
    text-decoration: none;
    color:white;
    /*display: block;*/
}
#menu li{
    list-style: none;
    padding: 5px;
    width:auto;
    height:50px;
    /*float:left;*/
    text-align: center;
    position: relative;
    line-height: 50px;
    /*background-color: black;*/

}
#menu > ul{
    width:100%;
    padding: 0px;
    display: flex;
    justify-content: center;
    /*overflow: hidden;*/
}
#menu li:hover{
    background-color: red;
    width: auto;
}
#menu ul ul{
    position: absolute;
    visibility: hidden;
    top:50px;
    right:0px;
    background-color: black;
    display: block;
    width: 100%;
    /*min-width: 180px;*/
    margin: 0;
    padding: 0;
}
#menu ul li:hover ul{
    visibility: visible;
}
/*#ltr{*/
/*    margin-left: auto;*/
/*}*/
#menu ul ul li{
    width: auto;
    display: block;
    white-space: nowrap;
}
.main{
    display: flex;
    height:auto;
}
.container{
    display:flex;
    flex-direction: column;
    background-color: cornsilk;
    width:25%;

}
.section{
    width:50%;
    text-align: center;
    text-indent: 20px;
}
.nav{
    width: 25%;
    background-color: cornsilk;
}
.footer{
    background-color: dimgrey;
    height: 70px;
    text-align: center;
    line-height: 70px;
}
.c1{
    width: 100%;
    height:33.33%;
    text-align: center;
    padding: 5px 0 5px 0;
    font-weight: bold;
    font-size: 16px;
}
img{
    width:90%;
    height:75%;
    padding-bottom:0;
    padding-top:5px;
}
a.x{
    color:black;
}

