#menu {
    background-color: black;
    /*border:1px solid black;*/
    height: 50px;

}
a{
    text-decoration: none;
    color:white;
    /*display: block;*/
}
#menu li{
    list-style: none;
    width:70px;
    height:50px;
    float:left;
    text-align: center;
    position: relative;
    line-height: 50px;

    /*background-color: black;*/

}
#menu > ul{
    width:100%;
    padding: 0px;
    display: flex;
    /*overflow: hidden;*/
}
#menu li:hover{
    background-color: red;
}
#menu ul ul{
    position: absolute;
    visibility: hidden;
    top:50px;
    right:0px;
    background-color: black;
    /*display: block;*/
    width: 100%;
    margin: 0;
    padding: 0;
}
#menu ul li:hover ul{
    visibility: visible;
}
#ltr{
    margin-left: auto;
}
/*#menu ul ul li{*/
/*    width: 100%;*/
/*}*/
.main{
    display: flex;
    height:600px;
}
.container{
    background-color: cornsilk;
    width:15%;
}
.section{
    width:70%;
}
.nav{
    width: 15%;
    background-color: cornsilk;
}
.footer{
    background-color: dimgrey;
    height: 70px;
}

